html,body {
    height: 100%;
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'RobotoDraft', sans-serif;
  }

#section1 {
  width: 50%;
  margin: 50px auto;
  border: 2px dotted white;
}

  
.exercise {
  display: block;
}