#bb {
  height: 100%;
  margin: 0;
  font-family: 'RobotoDraft', sans-serif;
}
#main-panel {
  position: relative;
  top:0px;
  left:0px;      /** <<<<<< **/   
  transition: all 0.2s ease-in;
}

#toolbar {
  color: rgb(255, 255, 255);
  background-color: #78909C;
}

#role-panel-tabs core-item {
  font-size: 14px;
  cursor: pointer;
}


#role-panel-tabs core-item:hover {
  background-color: #607D8B;
}

#element-menu-placeholder {
  width: 220px;  /**  <<< **/
  transition: width 0.2s ease-in;
}

.menu-open #element-menu-placeholder {
  width: 220px;
}

.role-section {
  border-right: 1px solid rgba(0,0,0,0.12);
/*  padding: 1em 2em;*/
  overflow-x: scroll;
}

.role-name {
  display: block;
  padding: 5px;
  color: rgb(79, 125, 201);
}

#element-menu-nav{
  width:220px;
  position:fixed;
  left: 0px;        
  transition: all 0.2s ease-in;
  height:100%;
  background-color: #E5E5E5;
}

.menu-open #element-menu-nav{
  left:0px;
}

#element-menu-container{
  height:100%;
}

#element-menu{
  margin: 0;
  overflow: auto;
  font-size: 14px;
}

#element-menu core-item{
  padding: 0 12px;
  cursor: pointer;
}

#element-menu core-item:hover{
  background: rgba(79, 125, 201, 0.3);
}

#element-menu-header{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 500;
  font-size: 22px;
  padding:15px 10px 16px;
  margin: 5px 0;
  color: rgb(79, 125, 201);
  border-bottom: 1px solid rgba(0,0,0,0.12);
}

.frame {
  display: block;
  width: 100%;
  min-height: 600px;
  border: none;
}
